/* *default */
body {
  margin: 0;
  padding: 0;
}

/* *header */
.navbar {
  background-color: #0f4c75;
}

.navbar-toggler {
  background-color: #ffffff;
}

.navbar .navbar-brand,
.navbar .nav-item {
  color: #ffffff;
}

.navbar .nav-item:hover {
  color: #bbe1fa;
}

/* *content */
}
.carousel-caption h5 {
  font-style: italic;
}

.carousel-caption span {
  font-size: 90px;
  color: #FF0000
}
/* *profile fatur */
.profile-fatur {
  background-color: #a6b1e1;
}

.img-fatur {
  width: 250px;
  border-radius: 45px;
}

/* *sosmed */
.fa-linkedin {
  color: #313335;
}

.fa-linkedin:hover {
  color: #0077B5;
}

.fa-github {
  color: #000000;
}

.fa-github:hover {
  color: #313335;
}

.fa-instagram {
  color: #313335;
}

.fa-instagram:hover {
  background: -webkit-linear-gradient(#515BD4, #8134AF, #DD2A7B, #FEDA77, #F58529);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* *footer */
.message-wrapper {
  font-family: 'Libre Franklin', sans-serif;
  padding-top: 40px;
  padding-bottom:70px;
  text-align: center;
  background-color: grey;;
  font-size: 18px
}

footer{
  background-color: #0f4c75;
  padding-top: 10px;
  padding-bottom: 5px;
  border-top: 2px dotted #693;
}

  footer img{
    width: 125px;
  }


footer h4{
  text-align: center;
  font-size: 18px;
  color: white;
}

.message {
  padding: 15px 40px;
  background-color: #ADF8FF;
  cursor: pointer;
  box-shadow: 0 7px #1a7940;
}

.message:active {
  position: relative;
  box-shadow: none;
}


.text-fatur {
  font-family: 'Raleway', sans-serif;
}

.profile-daus{
  background: #1f8fa6;
}

.daus{
  background: #1f8fa6;
}

.img-yunus{
  width: 300px;
  border-radius: 50px;
}

.text-yunus{
  font-family: 'Raleway', sans-serif;
}

.profile-rifai{
  background: #AFEEEE;
}

.img-muzib{
  background-color: #ddd;
  width: 400px;
  border: 5px solid #ddd;
  border-radius: 4px;
  padding: 5px;
}
.profile-muzib {
  background-color: #fafafa;
}
